body
{
    background-image: url("image.jpg");
}

.header {
	text-align: center;
	color: white;
	padding-top: 5%;
}

button
{
   	color: white;
   	margin:0 auto;
    display: inline-block;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

}

#addFieldBtn, .removeBtn
{
    margin:0 auto;	
	display:inline-block;
}

input 
{
	  margin:0 auto;
      display:block;
      color: white;
    display:block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

}

.cent_button {}